<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>패스워드 변경</h4>
        </div>
    </div>
    <div th:replace="~{error_message :: formErrorsFragment}"></div>
    <form th:action="@{/user/changePassword}" method="post">
        <div class="mb-3">
            <label for="password" class="form-label">기존 패스워드</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">새로운 패스워드</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
        </div>
        <button type="submit" class="btn btn-primary">패스워드 변경</button>
    </form>
</div>
</html>
